*{
    padding: 0;
    margin: 0;
    border: 0;
}

.arial{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.fontsize30{
    font-size: 30px;
}
.fonts700{
    font-weight: 700;
}
.color{
    color: rgb(255, 0, 0);
}

.textright{
    text-align: right;
}

.decoration{
    text-decoration: overline;
}
.shadow{
    text-shadow: 1px 1px 1px red;
}

.transform{
    text-transform: uppercase;
}
.ident{
    text-indent:  50px;
}
.lspacing{
    letter-spacing: 5px;
}
.wspacing{
    word-spacing: 5px;
}
.whitespace{
    white-space: nowrap;
}
.lineheight{
    line-height:  100px;
}